.block__pagination-buttons button {
    padding: 0.7rem;
    border-radius: 5px;
    background-color: #1e79f0;
    border: none;
    cursor: pointer;
}

.block__pagination-buttons {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.block__pagination {
    text-align: center;
}