.popup {
    position: fixed;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: 1px solid black;
    padding: 1rem;
    text-align: center;
    width: 30%;
}

.autrization {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.autrization  input {
    padding: 1rem;
}

.button__close {
    font-size: 2rem;
    text-align: right;
}