.filters__block-genres {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.filters__block-drop-all button {
    padding: 1rem;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: #1A1A1A;
}

.filters__block-drop-all-sort {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

.filters__block {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-shadow: 10px 5px 5px #cecdcd;
    padding: 2rem;
    border: 1px solid #d9d9d9;
}